body {
  background-image: url("../images/Hike5.jpg");
  background-repeat: no-repeat;
  background-position: top;
  color: #25a69a;
  background-color: #ebe6df;
}

#title {
  font-size: 30px;
  font-weight: bold;
}

.button {
  margin: auto;
  padding: 10px 20px;
  text-align: center;
}

.hiking {
  font-family: "Pacifico", cursive;
  font-size: 75px;
}

.hunger {
  font-family: "Bebas Neue", cursive;
  font-size: 75px;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-family: "Indie Flower", cursive;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.title {
  text-align: center;
  font-weight: bold;
}

p {
  text-align: center;
}

#weather {
  width: 15%;
  height: 15%;
}
