body {
  background-image: url("../images/Hike6.png");
  background-repeat: no-repeat;
  background-position: top;
  color: #25a69a;
  background-color: #ebe6df;
  background-size: cover;
  margin-top: 40px;
}

#title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.button {
  margin: auto;
  padding: 10px 20px;
  text-align: center;
}

.hunger {
  font-family: "Bebas Neue", cursive;
  font-size: 75px;
}

.hiking {
  font-family: "Pacifico", cursive;
  font-size: 75px;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-family: "Indie Flower", cursive;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.title {
  text-align: center;
  font-weight: bold;
}

p {
  text-align: center;
}

#weather {
  width: 100px;
  height: 100px;
  float: left;
}

#weather-results {
  margin-top: -40px;
  font-weight: bold;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}

/* Media Settings */
@media only screen and (max-width : 992px) {
  #images-container {
    max-width: 50%;
  }
  #weather-data {
    max-width: 50%;
  }
  #weather {
    display: inline-block;
    text-align: right;
    float: right;
  }
  #weather-results {
    float: left;
  }
   
}

@media only screen and (max-width : 600px) {
  #hunger-title {
    max-width: 100%;
  }
  #images-container {
    width: 33.33%;
  }
  #weather-data {
    margin-top: -24px;
    font-weight: bold;
    max-width: 100%;
  }
  #weather-results {
    margin-top: 0px;
  }
  

  
}
