body {
    background-image: url("../images/Hike5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    color: #25A69A;
    background-color: #EBE6DF;  
}

#title {
    font-size: 45px;
    font-weight: bold;
}
